 <div id="amazon-form">
  <h1>Amazon Search</h1>
  <form>
    <div class="form-group">
      <label for="amKeyword">Keyword</label>
      <input class="form-control" type="text" #amKeyword>
    </div>
    <!-- <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" #category>
        <option value="Appliances">Appliances</option>
        <option value="Books">Books</option>
        <option value="Electronics">Electronics</option>
        <option value="Fashion">Fashion</option>
        <option value="Music">Music</option>
      </select>
    </div> -->
    <button class="btn btn-primary" (click)="getAmazonResults(amKeyword.value)">Get Results</button>
  </form>
 </div>
