/* You can add global styles to this file, and also import other style files */
#name {
  float: right;
  font-weight: 600;
  font-size: 20px;
  color: #a3998b;
}



html {
  background-color: #92bbfc;
}
